{% extends "base.html" %}
{% load static %}
{% block title %}산재 정보 추가{% endblock %}

{% block script1 %}
<link rel="stylesheet" href="{% static 'CSS/member/mypage_individual_add.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ko.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

{% endblock %}

{% block script2 %}
<script>
    const industries = [
        {% for ind in member_industries %}
        {
            id: "{{ ind.member_industry }}",
            type1: "{{ ind.i_industry_type1 }}",
            type2: "{{ ind.i_industry_type2 }}"
        },
        {% endfor %}
    ];
</script>
<script src="{% static 'js/member/mypage_individual_add.js' %}"></script>
{% endblock %}
{% block contents %}

<form action="" method="post">
{% csrf_token %}
{% if error %}
<div class="alert alert-danger" role="alert">
    {{ error }}
</div>
{% endif %}
<h2>산재 정보 추가</h2>
<div class="mb-3">
    <label for="i_title" class="form-label">제목:</label>
    <input type="text" class="form-control" placeholder="제목을 입력하세요." id="i_title" name="i_title">
</div>

<select id="category1" class="form-control"></select>

<select id="category2" name="industry_type2" class="form-control mt-2">
    <option value="">중분류 선택</option>
</select>

<!-- 실제 POST 되는 업종 PK -->
<input type="hidden" name="industry_id" id="industry_id">

<div class="mb-3">
    <label for="i_accident_date" class="form-label">*재해일자 :</label>
    <input 
        type="text" 
        id="i_accident_date" 
        name="i_accident_date"
        class="form-control"
        placeholder="YYYY-MM-DD">
</div>
<div class="mb-3">
    <label for="i_address" class="form-label">*발생 주소 :</label>
    <input 
        type="text" 
        class="form-control" 
        id="i_address" 
        name="i_address" 
        placeholder="발생 주소를 입력해주세요."
        readonly
        onclick="searchAddress('i_address')">
</div>
<!-- 발생형태/질병 모달 버튼 -->
<input type="radio" name="mode" value="occ"> 발생형태
<input type="radio" name="mode" value="dis"> 질병
<input type="radio" name="mode" value="all"> 모두

<input id="occInput" type="text" placeholder="발생형태" disabled">
<br>
<input id="disInput" type="text" placeholder="질병" disabled">


<button type="submit" class="btn btn-primary">등록하기</button>
</form>


<!-- 모달 -->
<div id="modal" class="custom-modal">
    <div class="modal-content">
        <div class="modal-header">
            <h5 id="modalTitle"></h5>
            <button class="close-btn">&times;</button>
        </div>

        <div id="modalGrid" class="modal-grid"></div>
    </div>
</div>


{% endblock %}