{% extends "base.html" %}
{% load static %}

{% block title %}산재콕 | 핵심기능{% endblock %}
{% block contents %}
<link rel="stylesheet" href="{% static 'CSS/main/intro_service.css' %}">
    <!-- 왼쪽 고정 네비게이션 -->
<div class="subbody">
    <div class="subheader">
        <p><a href="{% url 'Main:service' %}">서비스소개</a></p>
        <p style="background-color: #e9e8e8; width: 180px;"><a href="{% url 'Main:tech' %}">핵심기술</a></p>
    </div>
    
    <div class="tech">
        <h1>지도 찾기</h1>
        <h3>주변 산재</h3>
        <ul>
            <li>KakaoMap API<br>
                <a href="https://dapi.kakao.com/v2/local/search/address.json">https://dapi.kakao.com/v2/local/search/address.json</a>
            </li>

            <li>산업재해수 API<br>
                <a href="https://safemap.go.kr/opna/data/dataView.do?">https://safemap.go.kr/opna/data/dataView.do?</a>
            </li>
        </ul>

    <h2>크롤링</h2>

        <ul>
            <li>산재뉴스<br>
                <a href="http://sanjaenews.co.kr/">http://sanjaenews.co.kr/</a>
            </li>

            <li>산업안전포털<br>
                <a href="https://portal.kosha.or.kr/archive/cent-archive/indust-arch/indust-page1">
                    https://portal.kosha.or.kr/archive/cent-archive/indust-arch/indust-page1
                </a>
            </li>

            <li>산재지정 의료기관 찾기<br>
                <a href="https://www.comwel.or.kr/comwel/medi/orsc.jsp">
                    https://www.comwel.or.kr/comwel/medi/orsc.jsp
                </a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}