{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>산재 콕</title>
    <link rel="stylesheet" href="{% static 'CSS/main.css' %}">
</head>
<body>
    
    <header class="header">
        <nav class="menu">
            <ul>
                <li>
                    <a href="#">소개</a>
                    <ul class="submenu">
                        <li><a href="#">서비스 소개</a></li>
                        <li><a href="#">핵심 기능</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">산재 통계</a>
                </li>
                <li>
                    <a href="#">산재 뉴스</a>
                </li>
                <li>
                    <a href="#">지도 검색</a>
                    <ul class="submenu">
                        <li><a href="#">주변 산재 검색</a></li>
                        <li><a href="#">주변 병원 검색</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">안전 자료실</a>
                </li>
            </ul>
        </nav>
    </header>


    <footer class="footer">

    </footer>

</body>
</html>